/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  font-family: var(--inter);
  font-variation-settings: "wght" 400;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  background-image: var(--background);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background-color: white;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: 0 auto;
  border: 1px solid #000;
  text-align: center;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0
    clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 100px;
  border: 2px solid #000;
}

.header__title {
  font-size: clamp(3.0625rem, 2.6481rem + 1.768vw, 4.0625rem);
  text-transform: uppercase;
  font-family: var(--pressStart2P);
  text-align: center;
}

.header__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-family: var(--pressStart2P);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6419rem + 0.9945vw, 1.4375rem);
}

.card {
  position: relative;
  border: 2px solid #000;
  margin: 0 auto;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #fff;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.image__container {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
}

.image__title {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.image__grayscale {
  filter: grayscale(0.7);
}

.image__contrast {
  filter: contrast(10) opacity(34%);
}

.image__hue-rotate {
  filter: hue-rotate(22deg);
}

.image__invert {
  filter: invert(0.8);
}

.image__sepia {
  filter: sepia(80%);
}

.image__blur {
  filter: blur(1rem);
}

.image__saturate {
  filter: saturate(14%);
}

.title__item {
  font-family: var(--inter);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  padding: 5px 0 7px 10px;
}

.label {
  mix-blend-mode: hard-light;
  font-family: var(--pressStart2P);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

@supports (
  (text-stroke: 1px rgba(255, 255, 255, 0.6)) or
    (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.6))
) {
  .label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    text-stroke: 1px rgba(255, 255, 255, 0.6);
    text-shadow: none;
  }
}

.subtitle__container {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 27px 25px;
  gap: 27px;
}

.subtitle__item {
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.icon__container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 25px;
}

.card__icon-button {
  padding: 0;
  max-height: 35px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.4s ease;
}

.card__icon-button:focus {
  outline: transparent;
}

.like__icon {
  transform-origin: center;
  cursor: pointer;
}

.like__icon:focus {
  outline: transparent;
}

.like-icon:focus-visible {
  outline: 2px solid #000;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
  transition: 0.3s ease;
}

.card__like-button{
  min-width: 130px;
}

.is-liked .heart {
  animation: heart-animation 0.1s 0.3s ease-in 1;
}

.is-liked .sparks {
  animation: sparks-animation 0.3s 0.3s ease-in 1;
}

/*hover*/
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.05s 0.3s linear;
}
/*active*/
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.05s 0.3s;
}
/*is-liked*/

.is-liked.like-icon .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.is-liked.like-icon .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.is-liked.like-icon .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.button__container {
  inline-size: 335px;
  block-size: 51px;
  margin: 0 auto;
  margin-block-start: 50px;
  border: 2px solid #000;
}

.button {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
  border: transparent;
  overflow: hidden;
}

.button__save {
  display: inline-block;
}

.svg__diskette {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
  /*margin-left: 13px;*/
  width: 21px;
  height: 21px;
  padding: 0;
}

.dialog__diskette {
  /* position: absolute;
  top: 42px;
  left: 30px;*/
  width: 39px;
  height: 39px;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog {
  position: fixed;
  inset: 0;
  transition: 0.5s ease-in;
  width: 353px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__text {
  font-family: var(--pressStart2P);
  width: 234px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0, 0, 0, 0);
}

.close__button {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  margin: 14px;
  width: 293px;
  height: 38px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #000;
  color: #fff;
  overflow: hidden;
}

/*.close__button::after {
  content: "";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  background-color: #000;
}

.close__button:hover:after {
  transform: translateX(0);
}*/

.dialog__container {
  display: flex;
  gap: 20px;
  margin: 14px;
  margin-right: 0;
}

@media (width <= 375px) {
  .header {
    inline-size: 100%;
  }

  .card {
    inline-size: 100%;
  }

  .card__list {
    gap: 52px;
  }

  .label {
    right: 11px;
  }
  .subtitle__container {
    gap: 30px;
  }

  .title__item {
    padding: 4px 10px 6px 10px;
  }

  .button__container {
    inline-size: 306px;
    block-size: 84px;
  }
  .button__save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .svg__diskette {
    width: 28px;
    height: 28px;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: Inter-Variable, sans-serif;
    font-weight: 400;
  }
}
