/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --header-size: clamp(20.833rem, 327.692vw - 47.436rem, 80rem);
    --inter: Inter-Variable, sans-serif;
    --pressStart2P: PressStart2P, sans-serif;
    --contour-color: #000;
    --animation-fill-color: red;
    --background: repeating-linear-gradient(
     to left, #d3d3d3, transparent 2px),
     repeating-linear-gradient(to top, #d3d3d3, transparent 2px),
     linear-gradient( to top, #e7e7e7, #1a1a1a);
     background-size: cover;
}
